

/* Sets every element to the top of the screen */
* {
    padding: 0px;
    margin: 0px;
    background-color: rgb(27, 27, 27);
}

/* Header Container */

.header-container {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgb(20, 20, 20);
}

/* Inside content of header ex.(Head logo, links) */

.header-inner-content-container {
    display: flex;
    flex-direction: row;
    /* Change to rb(20, 20, 20) */
    background-color: rgb(20,20,20);
    /* When done positioning */
    padding: 10px;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-family: 'Potta One', cursive;
}

/* Header links container */

.header-inner-links-container {
    display: inline;
    justify-content: center;
    background-color: rgb(20,20,20);
    padding-left: 1200px;
    color: white;
    font-size: 18px;
    font-family: 'Fredoka One', cursive;
}

/* Header name logo container for a elements */

.header-inner-links-container a {
    display: inline;
    position: relative;
    top: 25%;
}

/* Header links container for a elements */

.header-inner-links-container a {
    margin-right: 10px;
}

a:link, a:visited {
    color: white;
    background-color: rgb(20,20,20);
    text-decoration: none;
}
